.main {
  text-align: center;
  margin-top: 30px;
}

.name {
  background-color: rebeccapurple;
  padding: 10px;
  text-align: center;
  color: white;
  transition: background-color 0.4s ease-in-out;
}


.name h2 {
  font-size: 24px;
}


.action {
  width: 95%;
  border: solid black;
  margin-bottom: 15px;
  background-color: bisque;
  border-radius: 8px;
  cursor: pointer;
}


.action:hover {
  background-color: lightblue;
}
.button-spacing {
  margin-top: 10px;
}
